 form{
        border-radius: 10px;
        background-color: rgba(241, 241, 241, 0.815);
        margin: 2% 15%;
        padding: 10px;
        text-align: center !important;
    }

    form input {
        text-align: center !important;

    }
    .mar{
        text-align: left;
    }

  