@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

#root > main > div > div > h1{
    font-family: 'Courgette', cursive !important;
    text-align: center ; 
}

#root > main > div > h3 {
    text-align: right;
}

.container{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.home {
    background-image:url("../../images/index.png");
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    background-size: cover;
    background-repeat: no-repeat;
}

.home div {
    margin-right: 19%;
}


