@import url('https://fonts.googleapis.com/css?family=Nixie+One&display=swap');
.Footer {
    
    font-family: 'Nixie One', cursive;
    text-align: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

